# Don't track simulation outputs
project/results/
project/analysis/outputs/figures/
project/analysis/outputs/data/
project/data/

deprecated_simulations/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.pyc
.venv/
*.egg*

# macOS/Linux
.DS_Store